* {
	box-sizing: border-box;
}

body {
	background: url(../images/background_concreteseamless.png);
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	/*next 2 lines keep footer sticky*/
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0 auto;
}

h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #ffffff;
}

/*flexfix solves background loading on Contact, but bugs footer*/
.flexfix {
	display: flex;
	flex-direction: column;
}

header {
	background-color: #ffffff;
	color: #777777;
	border-bottom: 1px solid #cccccc;
	list-style-type: none;
}

nav {
	max-width: 960px;
	margin: 0 auto;
}

li {
	background-color: #ffffff;
	border-left: 1px solid #cccccc;
	padding-right: 15px;
	padding-left: 15px;
	margin: 30px 0px 30px 0px;
	float: right;
}

li:last-child {
	border-left: none;
}

li a {
	color: #777777;
	text-decoration: none;
}

li a:hover {
	background-color: #777777;
	color: #ffffff;
}

/* li .active { */
	/* background-color: #4aaaa5; */
	/* color: #ffffff; */
/* } */

.name {
	background-color: #4aaaa5;
	color: #ffffff;
	padding-left: 35px;
	padding-right: 35px;
	float: left;
}

.page-links {
	float: right;
}

button {
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 15px 25px;
}

content {
	flex: 1 0 auto;
	clear: both;
	max-width: 960px;
	padding-bottom: 30px;
	margin: 0 auto;
}

article {
	line-height: 30px;
	width: 650px;
	padding: 0px 15px 30px 15px;
	border-radius: 10px;
	margin-top: 30px;
	margin-right: 40px;
	background-color: #ffffff;
	float: left;
}

article h1 {
	color: #4aaaa5;
	padding-bottom: 15px;
	border-bottom: 3px solid #cccccc;
}

#profile-pic {
	float: left;
	padding: 10px 15px 0px 0px;
}

.portfolio-container {
	text-align: center;
}

.portfolio-link {
	position: relative;
	display: inline;
	float: left;
	padding: 15px;
}

.portfolio-link-label {
	background-color: #4aaaa5;
	color: #ffffff;
	width: 280px;
	position: absolute;
	bottom: 30px;
}

input, textarea {
	width: 100%;
}

aside {
	width: 270px;
	height: 170px;
	padding: 0px 15px 30px 15px;
	border-radius: 10px;
	margin-top: 30px;
	background-color: #ffffff;
	float: left;
}

aside h2 {
	color: #4aaaa5;
	padding-bottom: 15px;
	border-bottom: 2px solid #cccccc;
}

aside a {
	text-decoration: none;
	width: 30%;
	padding: 0px 6px;
}

footer {
	flex-shrink: 0;
	background-color: #666666;
	width: 100%;
	padding: 40px;
	border-top: 10px solid #4aaaa5;
	color: #777777;
	text-align: center;
	position: sticky;

}

@media only screen and (min-width: 769px) and (max-width: 980px){
	content {
		max-width: 769px;
	}
	article {
		max-width: 450px;
	}
	article img, .portfolio-link {
		width: 100%;
		height: 100%;
	}
	.portfolio-link-label {
		width: 93%;
	}
}

@media only screen and (min-width: 641px) and (max-width: 768px) {
	content {
		margin-left: 25px;
		margin-right: 25px;
	}
	article, aside {
		width: 100%;
	}
	#profile-pic, {
		width: 50%;
	}
	.portfolio-link {
		padding: 10px 0px 20px 0px;
	}
	.portfolio-link:nth-child(odd) {
		float: left;
	}
	.portfolio-link:nth-child(even) {
		float: right;
	}
	.portfolio-link img, {
		width: 90%;
		height: 90%;
	}
	.portfolio-link-label {
		width: 100%;
	}
}

@media only screen and (max-width: 640px) {
	header {
		position: static;
	}
	content {
		margin-left: 25px;
		margin-right: 25px;
	}
	article, aside {
		width: 100%;
	}
	.portfolio-link {
		padding: 10px 0px 20px 0px;
	}
	article img, .portfolio-link {
		width: 100%;
		height: 100%;
	}
	.portfolio-link-label {
		width: 100%;
		height: 20%;
	}
	.name {
		width: 100%;
		text-align: center;
	}
	.page-links {
		width: 100%;
	}
	.page-links li {
		width: 33%;
		padding: 0px;
		text-align: center;
	}
	#profile-pic {
		width: 100%;
	}
}